$GREEN_COLOR: #2f8d2b;
$WHITE_COLOR: #fff;
$GREY_1_COLOR: #e1e1e1;
$GREY_2_COLOR: #606060;
$BLACK_COLOR: #000;

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}

.btn {
  line-height: 25px;
  border-radius: 2px;
  padding: 1px 10px;
  border: 1px solid #dcdcdc;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  color: #696969;
  padding: 0px;
  .center {
    max-width: 950px;
    margin: auto;
  }
  .col-sm-6 {    
    width: calc(50% - 24px);
    display: inline-block;
    padding: 0 12px;
  }
  .conversation-header {
    font-weight: bold;
    background-color: $GREEN_COLOR;
    color:white;
    padding: 15px;
  }
  .conversation {
    background: #f3f3f3;
    min-height: 400px;
    display: block;
    padding: 1px 10px;
    .padding-9 {
      padding: 9px;
      }
    $SENDER_LETTER_SIZE:25px;
    .sender-letter {
      border-radius: 50px;
      padding:5px;
      font-weight: bold;
      height: $SENDER_LETTER_SIZE;
      width: $SENDER_LETTER_SIZE;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    .message {
      border-radius: 5px;
      padding: 5px 8px;
      max-width: calc(100% - 100px);
      display:flex;
      justify-content: flex-end;
      align-items:center;
    }
    .text-right, .text-left {
      margin-top: 7px;
      display:flex;
      flex-direction: row;
    }
    .text-right {
      flex-direction: row-reverse;
      color: black;
      .sender-letter, .message {
        background-color: $GREY_1_COLOR;
      }
      .sender-letter {
        margin-left: 5px;
      }
    }
    .text-left {
      color:white;
      .message {
        background-color: $WHITE_COLOR;
        color: $BLACK_COLOR;
      }
      .sender-letter {
        background-color: $GREEN_COLOR;
        margin-right: 5px;
      }
    }
  }

  form {
    margin-top:5px;
    display:flex;
    .add-input {
      flex-grow:1;
      font-size: 17px;
      padding:10px;
      border:none;

      &:focus {
        outline: none;
      }
    }
    .add-button {
      line-height: 31px;
      font-size: 17px;
      width: 42px;
      height:42px;
      border-radius:50px;
      box-shadow: 1px 2px 4px #aaa;
      &.has-message-written {
        background-color: $GREEN_COLOR;
        color: white;
      }
    }
  }
}
