html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  background: radial-gradient(ellipse at center, white 20%, #d2d2d2 100%);
  padding: 0px;
}